<%= form_for team, data: { role: 'team-form' } do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true %>

  <%= f.label :monsters %>
  <%= collection_check_boxes :team, :monster_ids, monsters, :id, :name %>

  <%= f.submit %>
<% end %>
