<h1>
  <%= t('activerecord.models.team.two') %>
</h1>

<% if @teams.count < User::TEAM_LIMIT %>
  <%= link_to t('team.new'), new_team_url %>
<% end %>

<% if @teams.present? %>
  <table>
    <thead>
      <tr>
        <th>
          <%= link_to(
            t('activerecord.attributes.team.name'),
            teams_url
          ) %>
        </th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @teams.each do |team| %>
        <tr>
          <td><%= link_to team.name, team %></td>
          <td>
            <%= link_to t('team.edit'), edit_team_url(team) %>
          </td>
          <td>
            <%=
              link_to(
                t('team.destroy'),
                team_url(team),
                confirm: 'Are you sure?',
                method: :delete
              )
            %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
