<h1>
  <%= @team.name %>
</h1>

<%= render '/monsters/monsters', monsters: @team.monsters %>


<%= link_to t('team.edit'), edit_team_url(@team) %>
<%= link_to(
  t('team.destroy'),
  team_url(@team),
  confirm: 'Are you sure',
  method: :delete
)%>
