<%= form_for monster do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true %>

  <%= f.label :power %>
  <%= f.text_field :power, required: true %>

  <%= f.label :kind %>
  <%= f.select(
    :kind,
    monster_kinds_for_select,
    { include_blank: true },
    required: true,
  ) %>

  <%= f.submit %>
<% end %>
