<% if monsters.present? %>
  <table>
    <thead>
      <tr>
        <th>
          <%= link_to(
            t('activerecord.attributes.monster.name'),
            monsters_url(order: :name)
          ) %>
        </th>
        <th>
          <%= link_to(
            t('activerecord.attributes.monster.power'),
            monsters_url(order: :power)
          ) %>
        </th>
        <th>
          <%= link_to(
            t('activerecord.attributes.monster.kind'),
            monsters_url(order: :kind)
          ) %>
        </th>
        <th>
          <%= link_to(
            t('activerecord.attributes.monster.weakness'),
            monsters_url(order: :kind)
          ) %>
        </th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% monsters.each do |monster| %>
        <tr>
          <td><%= link_to monster.name, monster %></td>
          <td><%= monster.power %></td>
          <td><%= monster.kind %></td>
          <td><%= monster.weakness %></td>
          <td>
            <%= link_to t('monster.edit'), edit_monster_url(monster) %>
          </td>
          <td>
            <%=
              link_to(
                t('monster.destroy'),
                monster_url(monster),
                confirm: 'Are you sure?',
                method: :delete
              )
            %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
