<h1>
  <%= t('activerecord.models.monster.two') %>
</h1>

<% if @monsters.count < User::MONSTER_LIMIT %>
  <%= link_to t('monster.new'), new_monster_url %>
<% end %>

<%= render 'monsters', monsters: @monsters %>
