<h1>
  <%= @monster.name %>
</h1>

<dl>
  <dt>
    <%= t('activerecord.attributes.monster.name') %>
  </dt>
  <dd>
    <%= @monster.name %>
  </dd>
  <dt>
    <%= t('activerecord.attributes.monster.power') %>
  </dt>
  <dd>
    <%= @monster.power %>
  </dd>
  <dt>
    <%= t('activerecord.attributes.monster.kind') %>
  </dt>
  <dd>
    <%= @monster.kind %>
  </dd>
  <dt>
    <%= t('activerecord.attributes.monster.weakness') %>
  </dt>
  <dd>
    <%= @monster.weakness %>
  </dd>
</dl>

<%= link_to t('monster.edit'), edit_monster_url(@monster) %>
<%= link_to t('monster.destroy'), monster_url(@monster), confirm: 'Are you sure', method: :delete %>
