form {
  display: block;
  width: 100%;

  label {
    display: block;
    font-weight: bold;
    margin-bottom: $small-spacing;
  }

  input[type="text"],
  select {
    border: $border;
    border-radius: 0;
    box-sizing: border-box;
    height: $large-spacing;
    display: block;
    margin-bottom: $base-spacing;
    padding: $small-spacing;
    width: 100%;

    &:invalid {
      border-color: $red;
    }
  }

  input[type="checkbox"],
  input[type="submit"] {
    margin-top: $base-spacing;
  }

  input[type="submit"] {
    border: $border;
    color: $white;
    padding: $base-spacing;
    background-color: $accent-color;
  }
}
