table {
  border-collapse: collapse;
  margin-top: $base-spacing;
  margin-bottom: $small-spacing;
  width: 100%;

  th {
    background-color: $accent-color;
    padding: 0;

    a {
      color: $white;
      display: inline-block;
      padding: $base-spacing 0;
      width: 100%;

      &:hover {
        background-color: $font-color;
      }
    }

  }

  td {
    padding: $base-spacing;
  }

  th, td {
    border: $border;
  }
}
