$white: rgb(255, 255, 255);
$red: rgb(240, 65, 55);
$gray: rgb(55, 55, 55);
$green: rgb(135, 205, 180);

$font-color: $gray;
$accent-color: $red;

$base-spacing: 1em;
$small-spacing: $base-spacing / 2;
$large-spacing: $base-spacing * 3;

$border: 1px solid $gray;
