<!DOCTYPE html>
<html>
  <head>
    <title>Rubymon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to t('activerecord.models.monster.two'), monsters_url %>
      <%= link_to t('activerecord.models.team.two'), teams_url %>
    </nav>

    <% flash.each do |flash_type, value| %>
      <div data-role="alert" class="<%= flash_type %>">
        <%= value %>
      </div>
    <% end %>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
